/* INDICE DE ESTILO 

0. Generales / colores 
1.tipografias 
2.header 
3.enlances y botones 
4.areas destacadas


*/

/* Generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-principal: #2790f9;
    --color-acento:  #e05826;
    --color-tercer: #dfc6e8;
    --color-texto: #2e2b35;
}

img{
    width: 100%;
}

.element-row{
    display: flex;
    justify-content: space-around;
    
}

.boton-vermas:hover{
     color: rgb(255, 255, 255);
    background-color: var(--color-principal);
}



.boton-vermas{
     font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--color-principal);
  font-size: 18px;
  /* quitar linea inferior */
  text-decoration: none;
  /* cuerpo por medio de relleno */
    padding: 8px 15px 8px 15px;
    /* animo el paso del mouse */
    transition: all linear 0.3s;
      /* bordes */
    border-radius: 3px;
 }

 .titulo-principal {

  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--color-principal);
  fonnt-size: 28px;
  text-align: center;
    
 }

  .titulo-secundario {

  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--color-principal);
  font-size: 22px;

 }


.parrafo {

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-texto);
    font-size: 14x;

}

.texto-oculto{
    display: none;

}

/* header */

#cabecera-principal {
    padding: 25px 30px;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
      /* border */
    border-bottom: 3px solid var(--color-principal);
}   

#area-experiencias{
    padding: 100px;
    background: url(assets/obelisco-buenos-aires.jpeg) center center no-repeat;
    background-size: cover;

}

#area-experiencias video{  
    margin: 30px 5%;

}


/* responsive */
@media only screen and (max-width: 600px){
    
    .element-row{
          flex-direction: column;
          align-items: center;
     }  
    #cabecera-principal{
        flex-direction: column;}

        .boton-principal{
    /* se comporte como un bloque */
    display: block;
    /* ancho */
    width: 96%;
     /* margen */
    margin: 5px 2% 5px 2%;
     /* alineacion al centro */
     text-align: center;
      /* borde inferior */
    border-bottom: 1px solid var(--color-principal);
     /* quito borde */
     border-radius: 0;


   
            

     }

/* enlances y botones */

nav[role-navigation]{
    width: 100%;
}

}





/* enlances y botones */

.boton-principal{

  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--color-principal);
  font-size: 18px;
  /* quitar linea inferior */
  text-decoration: none;
  /* cuerpo por medio de relleno */
    padding: 8px 15px 8px 15px;
    /* animo el paso del mouse */
    transition: all linear 0.3s;
      /* bordes */
    border-radius: 3px;
 }

 .boton-principal:hover{
    color: rgb(255, 255, 255);
    background-color: var(--color-principal);
 }

 /* areas destacadas*/

 #areas-destacadas div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#areas-destacadas{
    padding: 100px;
}

.articulo-index{
    padding: 20px;
}

.articulo-index *{
    margin: 0 0 10px 0;
}




